.NavbarContent {
  display: flex;
  align-items: center;
  color: var(--heading-color);
  margin: 0px 0px 3em;
  .links {
    ul {
      display: flex;
      list-style: none;
      li {
        font-family: var(--paragraph-font);
        color: var(--paragraph-color);
        margin: 3em 1.5em;
        line-height: 1.5em;

        &:hover {
          cursor: pointer;
          color: var(--other-color);
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .NavbarContent {
    display: none;
  }
}
